.lobby-element {
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: 50px;
    margin-top: 0.5%;
    width: 80%;
    align-items: center;
}

#lobby-id {
    width: auto;
    margin-left: 2%;
}

#lobby-name {
    width: 50%;
    margin-left: 2%;
}

#lobby-players {
    margin-left: auto;
}

#lobby-password-protected {
    margin-right: 2%;
}

#lobby-join-button {
    margin-left: auto;
    margin-right: 2%;
}

#empty-span {
    width: 20px;
    margin-right: 2%;
}
 