<section>
    <h1>{{ lobby.name }}</h1>
    <h1>Players</h1>
    <div *ngFor="let player of lobby.players" style="background-color: white;">
        <span *ngIf="checkIfAdmin(player); else defaultUser">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
            </svg>
        </span>
        <ng-template #defaultUser>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
        </ng-template>
        <span>{{player.name}}</span>
    </div>
    <button (click)="leaveLobby()">Leave Lobbby</button>
    <button (click)="deleteLobby()">Delete Lobbby</button>
    <button (click)="startGame()">Start Game</button>
</section>
